<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="aspnet:UseTaskFriendlySynchronizationContext" value="true" />
    <add key="companyCode" value="0O0" />
    <add key="Server_Ip" value="localhost" />
    <add key="User_Name" value="WebBooking" />
    <add key="Password" value="web@2021" />
    <add key="WriteLog" value="1" />
  </appSettings>
  <!--
    For a description of web.config changes see http://go.microsoft.com/fwlink/?LinkId=235367.

    The following attributes can be set on the <httpRuntime> tag.
      <system.Web>
        <httpRuntime targetFramework="4.6" />
      </system.Web>
  -->
  <system.web>
    <compilation targetFramework="4.6" />
    <httpRuntime targetFramework="4.5.2" />
  </system.web>
  <system.data>
    <DbProviderFactories>
      <add name="Odbc Data Provider" invariant="Odbc" description=".Net Framework Data Provider for Odbc" type="System.Data.Odbc.OdbcFactory, System.Data, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" />
      <add name="OleDb Data Provider" invariant="OleDb" description=".Net Framework Data Provider for OleDb" type="System.Data.OleDb.OleDbFactory, System.Data, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" />
      <add name="OracleClient Data Provider" invariant="Oracle" description=".Net Framework Data Provider for Oracle" type="System.Data.OracleClient.OracleClientFactory, System.Data.OracleClient, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" />
      <add name="SqlClient Data Provider" invariant="SQLServer" description=".Net Framework Data Provider for SqlServer" type="System.Data.SqlClient.SqlClientFactory, System.Data, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" />
      <add name="Microsoft SQL Server Compact Data Provider" invariant="SqlServerCe" description=".NET Framework Data Provider for Microsoft SQL Server Compact" type="System.Data.SqlServerCe.SqlCeProviderFactory, System.Data.SqlServerCe, Version=3.5.0.0, Culture=neutral, PublicKeyToken=89845dcd8080cc91" />
    </DbProviderFactories>
  </system.data>
  <system.serviceModel>
    <!--<services>
      <service name="FocusLService.FocusLService" behaviorConfiguration="MyServiceBehaviour">
        <endpoint address="" binding="webHttpBinding" contract="FocusLService.IFocusLService" behaviorConfiguration="MyEndpointBehavior" />
        <endpoint name="mexHttpBinding" address="mex" binding="mexHttpBinding" contract="FocusLService.IFocusLService" />
      </service>
    </services>
    <bindings>

    </bindings>-->
    <bindings>
      <wsHttpBinding>
        <binding name="wsHttpLocal" closeTimeout="10:00:00" openTimeout="10:00:00" receiveTimeout="10:00:00" sendTimeout="10:00:00" maxBufferPoolSize="2147483647" maxReceivedMessageSize="2147483647">
          <readerQuotas maxDepth="2147483647" maxStringContentLength="2147483647" maxArrayLength="2147483647" maxBytesPerRead="2147483647" maxNameTableCharCount="2147483647" />
          <reliableSession inactivityTimeout="10:00:00" />
          <security mode="None">
            <transport clientCredentialType="None" proxyCredentialType="None" />
          </security>
        </binding>
      </wsHttpBinding>
    </bindings>
    <services>
      <!--<service name="FocusLService.FocusLService" behaviorConfiguration="MyServiceBehaviour">
        <endpoint address="../FocusLService.svc" binding="wsHttpBinding" bindingConfiguration="wsHttpLocal"
          name="wsHttpLocalendpoint" contract="FocusLService.IFocusLService" />
      </service>-->
      <service behaviorConfiguration="MyServiceBehaviour" name="PrjNMC_Inbound.FocusService">
        <endpoint address="../FocusService.svc" behaviorConfiguration="webBehaviour" binding="webHttpBinding" name="WebHttpFocusL" contract="PrjNMC_Inbound.IFocusService" />
        <endpoint address="WSHttpFocusL" binding="wsHttpBinding" contract="PrjNMC_Inbound.IFocusService" name="WSHttpFocusL">
          <identity>
            <dns value="localhost" />
          </identity>
        </endpoint>
      </service>
    </services>
    <behaviors>
      <endpointBehaviors>
        <behavior name="webBehaviour">
          <webHttp />
        </behavior>
      </endpointBehaviors>
      <serviceBehaviors>
        <behavior name="MyServiceBehaviour">
          <serviceMetadata httpGetEnabled="true" />
          <serviceDebug includeExceptionDetailInFaults="false" />
          <serviceThrottling maxConcurrentCalls="16" maxConcurrentSessions="100" maxConcurrentInstances="10" />
        </behavior>
        <behavior name="">
          <serviceMetadata httpGetEnabled="true" httpsGetEnabled="true" />
          <serviceDebug includeExceptionDetailInFaults="false" />
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <serviceHostingEnvironment aspNetCompatibilityEnabled="true" multipleSiteBindingsEnabled="true" />
  </system.serviceModel>
  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true" />
    <!--
        To browse web app root directory during debugging, set the value below to true.
        Set to false before deployment to avoid disclosing web app folder information.
      -->
    <directoryBrowse enabled="true" />
    <defaultDocument>
      <files>
        <add value="FocusLService.svc" />
      </files>
    </defaultDocument>
  </system.webServer>
</configuration>
<!--ProjectGuid: 7FA6C251-ACD8-48AC-B424-9E99093217BF-->